<!-- Structured data: speaker profile + list of talks for the index page -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ '/' | absolute_url | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Cássio Pereira",
    "url": "https://www.cassiodeveloper.com.br",
    "jobTitle": "Application Security Specialist",
    "sameAs": [
      "https://twitter.com/cassiodeveloper",
      "https://www.linkedin.com/in/cassiodeveloper",
      "https://github.com/cassiodeveloper"
    ]
  },
  "mainEntity": {
    "@type": "ItemList",
    "itemListElement": [
      {% for post in site.posts %}
      {
        "@type": "ListItem",
        "position": {{ forloop.index }},
        "url": {{ post.url | absolute_url | jsonify }},
        "name": {{ post.title | jsonify }}
      }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
}
</script>
